﻿@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.CashOtherMovement.HelpModel
@{
    Layout = null;
}
<abp-modal>
    <abp-modal-header title="About Cash Movements Other"></abp-modal-header>
    <abp-modal-body>
        <abp-container>
            <h3>Cash Movements Other</h3>
            <p>
                Cash movements other...
            </p>
            <p>
                This module provides a view of the cash movements other.
            </p>
            <h4>Toolbar Actions</h4>
            <ul>
                <li><b>Help</b>. Show help guidance modal screen.</li>
                <li><b>Excel Export</b>. Export the data on grid to excel.</li>
                <li><b>Search Box</b>. Search the data on grid.</li>
            </ul>
            <h4>Columns</h4>
            <ul>
                <li><b></b>. .</li>
                <li><b></b>. .</li>
                <li><b></b>. .</li>
                <li><b></b>. .</li>
                <li><b></b>. .</li>
                <li><b></b>. .</li>
            </ul>
        </abp-container>
    </abp-modal-body>
    <abp-modal-footer>
        <button class="btn-secondary btn" data-dismiss="modal" type="button">Close</button>
    </abp-modal-footer>
</abp-modal>