﻿@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Indo.Web.Pages.Company.UpdateModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    Layout = null;
}
<form asp-page="/Company/Update">
    <abp-modal>
        <abp-modal-header title="@l["Update"].Value @l["Menu:SettingsCompany"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-container>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="Company.Id" />
                        <abp-input asp-for="Company.Name"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="Company.Street"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="Company.City"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="Company.State"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="Company.ZipCode"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-input asp-for="Company.Phone"></abp-input>
                    </abp-column>
                    <abp-column>
                        <abp-input asp-for="Company.Email"></abp-input>
                    </abp-column>
                </abp-row>
                <abp-row>
                    <abp-column><hr /></abp-column>
                </abp-row>
                <abp-row>
                    <abp-column>
                        <abp-select asp-for="Company.CurrencyId"></abp-select>
                    </abp-column>
                    <abp-column>
                        <abp-select asp-for="Company.DefaultWarehouseId"></abp-select>
                    </abp-column>
                </abp-row>
            </abp-container>
        </abp-modal-body>
        <abp-modal-footer>
            <button class="btn-secondary btn" data-dismiss="modal" type="button">@l["Button:Cancel"]</button>
            <button class="btn-primary btn" data-busy-text="Saving..." type="submit"><i class="fa-check fa"></i> <span>@l["Button:Save"]</span></button>
        </abp-modal-footer>
    </abp-modal>
</form>