﻿@page
@model Indo.Web.Pages.TreasuryTool.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Menu:TreasuryTool"];
}
@section styles{
    <abp-style src="/Pages/TreasuryTool/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/TreasuryTool/Index.js" />
}
<div class="container-fluid" id="filterCriteria">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="form" asp-page="/TreasuryTool/Index">
                                <abp-container>
                                    <abp-row>
                                        <abp-column size-md="_2">
                                            <abp-select asp-for="@Model.ViewModel.CCY" asp-items="@Model.CCYList"></abp-select>
                                        </abp-column>
                                        <abp-column size-md="_4">
                                            <abp-select asp-for="@Model.ViewModel.InstitutionA" asp-items="@Model.InstitutionList"></abp-select>
                                        </abp-column>
                                        <abp-column size-md="_4">
                                            <abp-select asp-for="@Model.ViewModel.InstitutionB" asp-items="@Model.InstitutionList" ></abp-select>
                                        </abp-column>
                                        <abp-column size-md="_2">
                                            <abp-input asp-for="ViewModel.TransDate" abp-data-datepicker="false"></abp-input>
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column>
                                            <abp-button button-type="Primary" id="btnResetFilter">Reset Filter</abp-button>
                                        </abp-column>
                                        <abp-column class="text-right">
                                            <button class="btn-primary btn" id="btnFilterGrid" data-busy-text="Loading..." type="submit"> <span>Filter Data Grid</span></button>
                                        </abp-column>
                                    </abp-row>
                                </abp-container>
                            </form>
                        </div>
                    </div>
                    <div class="card" id="gridCard" style="display:none">
                        <div class="card-body">
                            <abp-container>
                                <abp-row>
                                    <abp-column>
                                        <div id="gridDiv" style="margin-bottom:1rem"></div>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column class="text-right">
                                        <abp-button button-type="Primary" id="btnTransaction">Submit Transactions</abp-button>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>