﻿@page
@model Indo.Web.Pages.FreeOfPaymentForm.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Free Of Payment Request"];
}
@section styles{
    <abp-style src="/Pages/FreeOfPaymentForm/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/FreeOfPaymentForm/Index.js" />
}
<form id="form" asp-page="/FreeOfPaymentForm/Index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <abp-container>
                                    <abp-row>
                                        <abp-column>
                                            <abp-select asp-for="ViewModel.PayType" asp-items="@Model.PayTypeList.OrderBy(x => x.Value)"></abp-select>
                                        </abp-column>
                                    </abp-row>
                                </abp-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <abp-container>
                                    <abp-row>
                                        <abp-column>
                                            <abp-select asp-for="ViewModel.Portfolio" asp-items="@Model.PortfolioList.OrderBy(x => x.Value)" id="Portfolio"></abp-select>
                                        </abp-column>
                                    </abp-row>
                                </abp-container>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <abp-container>
                                    <abp-row>
                                        <abp-column>
                                            <input type="hidden" asp-for="ViewModel.GridList" />
                                            <div id="Grid"></div>
                                        </abp-column>
                                    </abp-row>
                                </abp-container>
                            </div>
                        </div>


                        <div class="col-md-12 mt-4">
                            <abp-container>
                                <label for="SwiftCode">Email Request:  </label>
                                <abp-row>
                                    <abp-column>
                                        <textarea asp-for="ViewModel.EmailTextArea" rows="4"></textarea>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <abp-container>
                                    <label for="SwiftCode">Payment SSI File Attachments  </label>
                                    <abp-card>
                                        <abp-card-header>
                                            <abp-card-title>
                                                File Manager
                                            </abp-card-title>
                                        </abp-card-header>
                                        <abp-card-body>
                                            <input type="hidden" asp-for="ViewModel.FOPFilePath" />
                                            <div id="filemanager"></div>
                                        </abp-card-body>
                                    </abp-card>
                                </abp-container>
                            </div>
                        </div>
                        <abp-container>
                            <abp-row>
                                <abp-column class="text-right">
                                    <button class="btn-primary btn" id="btnSendPayment" data-busy-text="Saving..." type="submit"> <span>@l["Send Payment Request"]</span></button>
                                </abp-column>
                            </abp-row>
                        </abp-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>