﻿@page
@model Indo.Web.Pages.BackOfficePayment.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Back Office Payment"];
}
@section styles{
    <abp-style src="/Pages/BackOfficePayment/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/BackOfficePayment/Index.js" />
}
<form id="form" asp-page="/BackOfficePayment/Index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <div id="loader"></div>
                    <abp-row>
                        <abp-column size-md="_6">
                            <abp-select asp-for="ViewModel.MoveType" asp-items="Model.MoveTypeList" id="MoveType" class="custom-select"></abp-select>
                            <abp-input asp-for="ViewModel.MoveTypeVal" type="hidden"></abp-input>
                            <abp-input asp-for="ViewModel.PaymentId" type="hidden"></abp-input>
                            <abp-input asp-for="ViewModel.MessageId" type="hidden"></abp-input>
                        </abp-column>
                        <abp-column size-md="_6" id="accountShoHide">
                            <abp-select asp-for="ViewModel.Portfolio" asp-items="Model.PortfolioList"></abp-select>
                            <abp-input asp-for="ViewModel.Portfolioval" type="hidden"></abp-input>
                        </abp-column>
                        <abp-column size-md="_6" id="FeeTypeShoHide">
                            <abp-select asp-for="ViewModel.PaymentOthers" asp-items="Model.PaymentOthersList" style="margin-bottom:0rem!important"></abp-select>
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_3">
                            <abp-select asp-for="ViewModel.CCY" asp-items="Model.CCYList"></abp-select>
                            <abp-input type="hidden" asp-for="ViewModel.HiddenCCY"></abp-input>
                            <abp-input type="hidden" asp-for="ViewModel.CCYVal"></abp-input>
                            <abp-input type="hidden" asp-for="ViewModel.BenCCY"></abp-input>

                        </abp-column>
                        <abp-column size-md="_4">
                            <abp-input asp-for="ViewModel.Amount" type="text"></abp-input>
                            <abp-input type="hidden" asp-for="ViewModel.rate"></abp-input>
                        </abp-column>
                        <abp-column size-md="_1" class="mt-2" id="currencyShortcut">
                            GBP
                        </abp-column>
                        <abp-column size-md="_2" class="mt-4">
                            <abp-input asp-for="ViewModel.Checkbox1" />
                            <abp-input asp-for="ViewModel.Checkbox2" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-md="_2">
                            <abp-input asp-for="ViewModel.TransDate" abp-data-datepicker="false"></abp-input>


                        </abp-column>
                        <abp-column size-md="_2">
                            <abp-input asp-for="ViewModel.SettleDate" abp-data-datepicker="false"></abp-input>


                        </abp-column>
                        <abp-column size-md="_8">
                            <abp-input asp-for="ViewModel.Comments"></abp-input>
                        </abp-column>
                    </abp-row>
                    <abp-tabs>
                        <abp-tab title="Order" id="ordertTab" name="ordertTab">
                            <abp-row>
                                <abp-column size-md="_12" class="text-right">
                                    <label class="WARNINGColor"></label>
                                </abp-column>
                            </abp-row>
                            <div class="row ordertTabContent">
                                <div class="col-md-8">
                                    <abp-row>
                                        <abp-column size-md="_12" id="portfoliolistShoHide">
                                            <abp-select asp-for="ViewModel.Order_Portfolio" asp-items="Model.PortfolioList" id="portfoliolist"></abp-select>
                                        </abp-column>
                                        <abp-column size-md="_12" id="FeeTypelistShoHide">
                                            <abp-select asp-for="ViewModel.Order_PaymentOthers" asp-items="Model.PaymentOthersList" id="paymentotherlist"></abp-select>
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12" id="accountlistShoHide">
                                            <abp-select asp-for="ViewModel.Order_Account" asp-items="Model.AccountList" ></abp-select>
                                            <abp-input asp-for="ViewModel.Order_AccountVal" type="hidden"></abp-input>
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12" id="namelistShoHide" style="display:none">
                                            <abp-input asp-for="ViewModel.Order_Name"></abp-input>
                                        </abp-column>
                                    </abp-row>
                                </div>

                                <div class="col-md-4">
                                    <abp-row>
                                        <abp-column size-md="_6">
                                            <label class="inlineLabel">Balance</label>
                                        </abp-column>
                                        <abp-column size-md="_6" class="text-right">
                                            <label class="inlineLabel balanceColor" id="balance">@Model.ViewModel.Order_Balance</label>
                                        </abp-column>
                                    </abp-row>
                                    <abp-row>
                                        <abp-column size-md="_12" class="setMargin" style="display:none">
                                            <abp-input asp-for="ViewModel.Order_Ref"></abp-input>
                                        </abp-column>
                                    </abp-row>
                                </div>
                            </div>
                            <div class="accounntSelectionShowHide ordertTabContent">
                                <abp-row>
                                    <abp-column size-md="_6">
                                        <abp-input asp-for="ViewModel.Order_Address1"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_5">
                                        <abp-input asp-for="ViewModel.Order_Swift"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                        <span class="symboleOkOrder_Swift">&#9989;</span>
                                        <span class="symboleRemoveOrder_Swift">&#10060;</span>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column size-md="_6">
                                        <abp-input asp-for="ViewModel.Order_City"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_5">
                                        <abp-input asp-for="ViewModel.Order_IBAN"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                        <span class="symboleOk">&#9989;</span>
                                        <span class="symboleRemove">&#10060;</span>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column size-md="_6">
                                        <abp-input asp-for="ViewModel.Order_PostZip"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_6">
                                        <abp-input asp-for="ViewModel.Order_Other"></abp-input>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column size-md="_6">
                                        <abp-select asp-for="ViewModel.Order_Country" asp-items="Model.CountryList"></abp-select>
                                    </abp-column>
                                </abp-row>
                            </div>
                            <abp-row class="ordertTabContent">
                                <abp-column size-md="_8">
                                </abp-column>
                                <abp-column size-md="_2">
                                    <label>Balance (inc. pending)</label>
                                </abp-column>
                                <abp-column size-md="_2" class="text-right">
                                    <label class="balanceColor" id="balanceInc">@Model.ViewModel.Order_Balance</label>
                                </abp-column>
                                <abp-column size-md="_8">
                                </abp-column>
                                <abp-column size-md="_2">
                                    <label>Post Balance (inc. pending)</label>
                                </abp-column>
                                <abp-column size-md="_2" class="text-right">
                                    <label class="balanceColor" id="postBalance">@Model.ViewModel.Order_Balance</label>
                                </abp-column>
                            </abp-row>
                        </abp-tab>

                        <abp-tab title="Beneficiary" id="beneficiaryTab" name="beneficiaryTab">
                            <abp-tabs class="beneficiaryTabContent">
                                <h4>Beneficiary Customer Details (59/59A on swift)</h4>
                                <abp-tab title="Main">

                                    <div class="row beneficiaryTabContent">
                                        <div class="col-md-8">
                                            <abp-row id="benPortfolioShoHide">
                                                <abp-column size-md="_12">
                                                    <abp-select asp-for="ViewModel.BenMain_Portfolio" asp-items="Model.PortfolioList"></abp-select>
                                                    <abp-input asp-for="ViewModel.BenMain_PortfolioVal" type="hidden"></abp-input>

                                                </abp-column>
                                            </abp-row>
                                            <abp-row>
                                                <abp-column size-md="_12" id="benAccountShoHide">
                                                    <abp-select asp-for="ViewModel.BenMain_Account" asp-items="Model.AccountList"></abp-select>
                                                    <abp-input asp-for="ViewModel.BenMain_AccountVal" type="hidden"></abp-input>
                                                </abp-column>
                                            </abp-row>

                                            <abp-row>
                                                <abp-column size-md="_12" id="benTemplateShoHide">
                                                    <abp-select asp-for="ViewModel.BenMain_Template" asp-items="Model.TemplateList"></abp-select>                                                    
                                                </abp-column>
                                            </abp-row>

                                            <abp-row>
                                                <abp-column size-md="_12" id="benNameShoHide">
                                                    <abp-input asp-for="ViewModel.BenMain_Name"></abp-input>
                                                </abp-column>
                                            </abp-row>
                                        </div>

                                        <div class="col-md-4 form-group">
                                            <abp-row id="Benmainbalance">
                                                <abp-column size-md="_6">
                                                    <label class="inlineLabel">Balance</label>
                                                </abp-column>
                                                <abp-column size-md="_6" class="text-right">
                                                    <label class="inlineLabel balanceColor" id="balanceBen">@Model.ViewModel.BenMain_Order_Balance</label>
                                                </abp-column>
                                            </abp-row>
                                            <abp-row id="showHideBenref" style="margin-top: 1.3rem">
                                                <abp-column size-md="_12">
                                                    <abp-input asp-for="ViewModel.BenMain_Order_Ref"></abp-input>
                                                </abp-column>
                                            </abp-row>
                                        </div>
                                    </div>
                                    <div class="FieldsTempShowHide beneficiaryTabContent">
                                        <abp-row class="hideShowbasedOn3rdparty">
                                            <abp-column size-md="_6">
                                                <abp-select asp-for="ViewModel.BenMain_Type" asp-items="Model.TypeList"></abp-select>
                                            </abp-column>
                                            <abp-column size-md="_6">
                                                <abp-select asp-for="ViewModel.BenMain_Relationship" asp-items="Model.RelationshipList"></abp-select>
                                            </abp-column>
                                        </abp-row>
                                        <abp-row id="businessName" class="hideShowbasedOn3rdparty">
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_BusinessName"></abp-input>
                                            </abp-column>
                                        </abp-row>
                                        <abp-row id="individualName" class="hideShowbasedOn3rdparty">
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_FirstName"></abp-input>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_MiddleName"></abp-input>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_Surname"></abp-input>
                                            </abp-column>
                                        </abp-row>
                                    </div>
                                    <div class="FieldsBenAccShowHide">
                                        <abp-row>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_Address" maxlength="150"></abp-input>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_City" maxlength="150"></abp-input>
                                            </abp-column>
                                        </abp-row>
                                        <abp-row>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_County"></abp-input>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenMain_PostZip" maxlength="10"></abp-input>
                                            </abp-column>
                                            <abp-column>
                                                <abp-select asp-for="ViewModel.BenMain_Country" asp-items="Model.CountryList"></abp-select>
                                            </abp-column>
                                        </abp-row>
                                    </div>

                                    <abp-row id="Benpostbalance" class="form-group">
                                        <abp-column size-md="_8">
                                        </abp-column>
                                        <abp-column size-md="_2">
                                            <label>Balance (inc. pending)</label>
                                        </abp-column>
                                        <abp-column size-md="_2" class="text-right">
                                            <label class="balanceColor" id="balanceIncBen">@Model.ViewModel.BenMain_PendingOrder_Balance</label>
                                        </abp-column>
                                        <abp-column size-md="_8">
                                        </abp-column>
                                        <abp-column size-md="_2">
                                            <label>Post Balance (inc. pending)</label>
                                        </abp-column>
                                        <abp-column size-md="_2" class="text-right">
                                            <label class="balanceColor" id="postBalanceBen">@Model.ViewModel.BenMain_PostOrder_Balance</label>
                                        </abp-column>
                                    </abp-row>
                                </abp-tab>

                                <abp-tab title="Bank Details">
                                    <div>
                                        <abp-row>
                                            <abp-column size-md="_3">
                                                <abp-input asp-for="ViewModel.BenDetailSendSWIFT_SendSWIFTCheckbox" />
                                            </abp-column>
                                            <abp-column size-md="_9">
                                                <abp-row>
                                                    <abp-column size-md="_11">
                                                        <abp-input asp-for="ViewModel.BenDetailSendSWIFT_Swift57A" />
                                                    </abp-column>
                                                    <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                        <span class="symboleOkSwift57A">&#9989;</span>
                                                        <span class="symboleRemoveSwift57A">&#10060;</span>
                                                    </abp-column>
                                                </abp-row>
                                                <abp-row>
                                                    <abp-column size-md="_11">
                                                        <abp-input asp-for="ViewModel.BenDetailSendSWIFT_IBAN59" />
                                                    </abp-column>
                                                    <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                        <label class="symboleOkBenDetail">&#9989;</label>
                                                        <label class="symboleRemoveBenDetail">&#10060;</label>
                                                    </abp-column>
                                                </abp-row>
                                                <abp-row>
                                                    <abp-column size-md="_12">
                                                        <abp-input asp-for="ViewModel.BenDetailSendSWIFT_Other" />
                                                    </abp-column>
                                                </abp-row>
                                            </abp-column>
                                        </abp-row>
                                    </div>
                                </abp-tab>
                                <abp-tab title="Intermediary Institution (56A)" id="interInstitution" name="interInstitution">
                                    <div>
                                        <abp-row>
                                            <abp-column size-md="_3">
                                                <abp-input asp-for="ViewModel.sfiwtcodeIntermediaryBank" type="text"></abp-input>
                                            </abp-column>
                                            <abp-column size-md="_2" class="mt-4">
                                                <button class="btn-primary btn" id="validatSwiftIntermediaryBank" type="button"> <span>@l["Validate Swift"]</span></button>
                                            </abp-column>
                                            <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                <label class="symboleOkInterm">&#9989;</label>
                                                <label class="symboleRemoveInterm">&#10060;</label>
                                            </abp-column>
                                            <abp-column size-md="_6" style="margin-top: -1rem !important">
                                                <abp-input type="hidden" asp-for="ViewModel.BenDetail_IntermediaryBank"></abp-input>
                                                <abp-input asp-for="ViewModel.BenDetail_IntermediaryBankSwiftCode" type="text"></abp-input>
                                            </abp-column>
                                        </abp-row>

                                        <abp-row>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetail_Address" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetail_Swift56A" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetail_City" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-select asp-for="ViewModel.BenInter_Country" asp-items="Model.CountryList"></abp-select>
                                            </abp-column>
                                        </abp-row>

                                        <abp-row>
                                            <abp-column size-md="_3">
                                                <abp-input asp-for="ViewModel.BenDetail_IBAN57A" />
                                            </abp-column>
                                            <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                <label class="symboleOkBenDetailInter">&#9989;</label>
                                                <label class="symboleRemoveBenDetailInter">&#10060;</label>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetail_Zip" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetail_Other" />
                                            </abp-column>
                                        </abp-row>
                                    </div>
                                </abp-tab>
                                <abp-tab title="Account With Institution (57A/57D)" id="accWithInstitution" name="accWithInstitution">
                                    <div>
                                        <abp-row>
                                            <abp-column size-md="_3">
                                                <abp-input asp-for="ViewModel.BenDetailAcc_AccountBankNameSwiftCodes" type="text"></abp-input>
                                            </abp-column>

                                            <abp-column size-md="_2" class="mt-4">
                                                <button class="btn-primary btn" id="validatSwiftInstitution" type="button"> <span>@l["Validate Swift"]</span></button>
                                            </abp-column>
                                            <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                <label class="symboleOk_">&#9989;</label>
                                                <label class="symboleRemove_">&#10060;</label>
                                            </abp-column>
                                            <abp-column size-md="_6" style="margin-top: -1rem !important">
                                                <abp-input type="hidden" asp-for="ViewModel.BenDetailAcc_AccountBankName"></abp-input>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_AccountBankNameSwiftCode" type="text"></abp-input>
                                            </abp-column>
                                        </abp-row>

                                        <abp-row>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_Address" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_Swift56A" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_City" />
                                            </abp-column>
                                                <abp-column>
                                                    <abp-select asp-for="ViewModel.BenAcc_Country" asp-items="Model.CountryList"></abp-select>                                                
                                            </abp-column>
                                        </abp-row>

                                        <abp-row>
                                            <abp-column size-md="_3">
                                                <abp-input asp-for="ViewModel.BenDetailAcc_IBAN57A" />
                                            </abp-column>
                                            <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                <label class="symboleOkBenDetailAcc">&#9989;</label>
                                                <label class="symboleRemoveBenDetailAcc">&#10060;</label>
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_Zip" />
                                            </abp-column>
                                            <abp-column>
                                                <abp-input asp-for="ViewModel.BenDetailAcc_Other" />
                                            </abp-column>
                                        </abp-row>
                                    </div>
                                </abp-tab>
                            </abp-tabs>
                        </abp-tab>

                        <abp-tab title="Files" id="files" name="files" class="active">
                            <abp-card>
                                <abp-card-header>
                                    <abp-card-title>
                                        File Manager
                                    </abp-card-title>
                                </abp-card-header>
                                <abp-card-body>
                                    <input type="hidden" asp-for="ViewModel.BackOfficePaymentFilePath" />
                                    <div id="filemanager"></div>
                                </abp-card-body>
                            </abp-card>
                        </abp-tab>

                        <abp-tab title="Preview">
                            <div id="previewTab"></div>
                        </abp-tab>

                        <abp-tab title="Request" id="requestTab" name="requestTab">

                            <abp-row id="reqTabContent">
                                <abp-column size-md="_4">
                                    <abp-input asp-for="ViewModel.sendTo" type="text"></abp-input>
                                </abp-column>
                                <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                    <label class="symboleOkSendTo">&#9989;</label>
                                    <label class="symboleRemoveSendTo">&#10060;</label>
                                </abp-column>
                                <abp-column size-md="_4">
                                    <abp-input asp-for="ViewModel.relatedRef" type="text"></abp-input>
                                </abp-column>

                            </abp-row>
                            <div id="requestTabPREmail"></div>
                        </abp-tab>

                    </abp-tabs>
                    <br />
                    <abp-row>
                        <abp-column class="text-left">
                            <button class="btn-primary btn" id="btnNewTrans" data-busy-text="Saving..." type="button"> <span>@l["New Transaction"]</span></button>
                        </abp-column>
                        <abp-column class="text-right">
                            <button class="btn-primary btn" id="btnSendPayment" data-busy-text="Saving..." type="submit"> <span>@l["Submit"]</span></button>

                        </abp-column>
                    </abp-row>
                    @{
                        string status = TempData.Count > 0 ? TempData["StatusMessage"].ToString() : string.Empty;
                    }
                    <abp-input id="statusMessaage" type="hidden" asp-for="@status"></abp-input>
                </div>
            </div>
        </div>
    </div>

</form>