﻿.inlineLabel{
    margin-top:18%;   
}
.balanceColor {
    color: blue;
    font-weight: bold;
}
.WARNINGColor {
    font-weight: bold;
}
.setMargin {
    margin-top:1.4rem!important
}
.mt-2 {
    margin-top: 2.2rem !important;
}
.e-filemanager {
    height: 400px !important;
}
#filemanager_layout {
    height: 355px !important;
}
.ZipDropDown {
    margin-top: 0.6rem !important;
}
body {
    overflow-x: hidden!important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
.error {
    display: none;
}

.error_show, .errorAmount, .errorPortfolio, .errorFeetype, .errorBenType, .errorBenrel, .errorBenAcc, .errorBenName, .errorOrderPortfolio, .errorBenPortfolio, .errorAcc, .errorCountry, .errorBenSwift, .errorBenIBAN, .errorBenAccInsSwift {
    color: #dc3545 !important;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.blurContent {
    opacity: 0.5;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.8;
}
