﻿@page
@model Indo.Web.Pages.BackOfficeFOPForm.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Back Office Free of Payment Form"];
}
@section styles{
    <abp-style src="/Pages/BackOfficeFOPForm/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/BackOfficeFOPForm/Index.js" />
}
<form id="form" asp-page="/BackOfficeFOPForm/Index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="loader"></div>
                        <div class="col-md-12">
                            <div class="tabbable" id="tabs-167221">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab4" data-toggle="tab">Receive/Deliver Free</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link show" href="#tab5" data-toggle="tab">Preview</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-select asp-for="ViewModel.PayType" id="PayType" asp-items="Model.PayTypeList"></abp-select>
                                                            <abp-input asp-for="ViewModel.PaymentId" type="hidden"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-select asp-for="ViewModel.Portfolio" asp-items="Model.PortfolioList"></abp-select>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_6" style="margin-top:-11px!important">
                                                            <abp-radio asp-for="ViewModel.CheckboxInstrument" asp-items="Model.InstrumentList" />

                                                        </abp-column>
                                                        <abp-column size-md="_6" style="margin-top:13px!important">
                                                            <abp-select asp-for="ViewModel.Instrument" asp-items="Model.InstrumentListForDropdown" checked></abp-select>
                                                            @*<abp-select asp-for="ViewModel.Isin" asp-items="Model.IsinListForDropdown"></abp-select>*@
                                                        </abp-column>
                                                    </abp-row>

                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.InstructionsId" asp-format=""></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="ViewModel.sfiwtcodeBrkrAcc" type="text"></abp-input>
                                                            <span class="error">Please enter 8 or 11 character</span>
                                                        </abp-column>

                                                        <abp-column size-md="_3" class="mt-4">
                                                            <button class="btn-primary btn" id="validatSwiftBrkrAcc" type="button"> <span>@l["Validate Swift"]</span></button>
                                                        </abp-column>
                                                        <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                            <label class="symboleOkBrkrAcc">&#9989;</label>
                                                            <label class="symboleRemoveBrkrAcc">&#10060;</label>
                                                        </abp-column>
                                                        <abp-column size-md="_4" style="margin-top: -1rem !important">
                                                            <abp-input type="hidden" asp-for="ViewModel.BrkrAcc"></abp-input>
                                                            <abp-input asp-for="ViewModel.BrkrAccSwiftCode" type="text"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="ViewModel.sfiwtcodeClearer" type="text"></abp-input>
                                                            <span class="errorClearer">Please enter 8 or 11 character</span>
                                                        </abp-column>

                                                        <abp-column size-md="_3" class="mt-4">
                                                            <button class="btn-primary btn" id="validatSwiftClearer" type="button"> <span>@l["Validate Swift"]</span></button>
                                                        </abp-column>
                                                        <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                            <label class="symboleOkCle">&#9989;</label>
                                                            <label class="symboleRemoveCle">&#10060;</label>
                                                        </abp-column>
                                                        <abp-column size-md="_4" style="margin-top: -1rem !important">
                                                            <abp-input type="hidden" asp-for="ViewModel.Clearer"></abp-input>
                                                            <abp-input asp-for="ViewModel.ClearerSwiftCode" type="text"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                </div>

                                                <div class="col-md-6">
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="@Model.ViewModel.Amount" type="text"></abp-input>
                                                        </abp-column>
                                                        <abp-column size-md="_4">
                                                            <abp-select asp-for="ViewModel.CCY" asp-items="Model.CCYList"></abp-select>
                                                        </abp-column>
                                                        <abp-column size-md="_4" class="mt-4">
                                                            <abp-input asp-for="ViewModel.Checkbox1" />
                                                            <abp-input asp-for="ViewModel.Checkbox2" />
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="@Model.ViewModel.TransDate" abp-data-datepicker="false"></abp-input>
                                                        </abp-column>

                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="@Model.ViewModel.SettleDate" abp-data-datepicker="false"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="ViewModel.sfiwtcode" type="text"></abp-input>
                                                            <span class="errorSfiwtcode">Please enter 8 or 11 character</span>
                                                        </abp-column>

                                                        <abp-column size-md="_3" class="mt-4">
                                                            <button class="btn-primary btn" id="validatSwift" type="button"> <span>@l["Validate Swift"]</span></button>
                                                        </abp-column>
                                                        <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                            <label class="symboleOkDelivAgent">&#9989;</label>
                                                            <label class="symboleRemoveDelivAgent">&#10060;</label>
                                                        </abp-column>
                                                        <abp-column size-md="_4" style="margin-top: -1rem !important">
                                                            <abp-input type="hidden" asp-for="ViewModel.DelivAgent"></abp-input>
                                                            <abp-input asp-for="ViewModel.DelivAgentSwiftCode" type="text"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.DelAgtAccNo" asp-format=""></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column size-md="_4">
                                                            <abp-input asp-for="ViewModel.sfiwtcodePlaceOfSettle" type="text"></abp-input>
                                                            <span class="errorPlaceOfSettle">Please enter 8 or 11 character</span>
                                                        </abp-column>

                                                        <abp-column size-md="_3" class="mt-4">
                                                            <button class="btn-primary btn" id="validatSwiftPlaceOfSettle" type="button"> <span>@l["Validate Swift"]</span></button>
                                                        </abp-column>
                                                        <abp-column size-md="_1" style="margin-top: 2.3rem !important ">
                                                            <label class="symboleOk">&#9989;</label>
                                                            <label class="symboleRemove">&#10060;</label>
                                                        </abp-column>
                                                        <abp-column size-md="_4" style="margin-top: -1rem !important">
                                                            <abp-input type="hidden" asp-for="ViewModel.PlaceOfSettle"></abp-input>
                                                            <abp-input asp-for="ViewModel.PlaceOfSettleSwiftCode" type="text"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-select asp-for="ViewModel.CashAcc"></abp-select>

                                                        </abp-column>
                                                    </abp-row>
                                                </div>
                                            </div>

                                            <abp-row>
                                                <abp-column class="text-left">
                                                    <button class="btn-primary btn" id="btnNewTrans" data-busy-text="Saving..." type="button"> <span>@l["New Transaction"]</span></button>
                                                </abp-column>
                                                <abp-column class="text-right">
                                                    <button class="btn-primary btn" id="btnAddTrans" data-busy-text="Saving..." type="submit"> <span>@l["Add Transaction"]</span></button>
                                                </abp-column>
                                            </abp-row>

                                        </div>
                                    </div>

                                    <div>
                                        @{
                                            string status = TempData.Count > 0 ? TempData["StatusMessage"].ToString() : string.Empty;
                                        }
                                        <abp-input id="statusMessaage" type="hidden" asp-for="@status"></abp-input>
                                    </div>
                                    <div class="tab-pane" id="tab5">
                                        <div class="row">
                                            <span id="swiftData"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

