﻿.disable-div {
    pointer-events: none;
    opacity: 0.6;
    cursor: pointer;
}

.tab-content {
    padding: 5px 30px !important;
}

.e-filemanager {
    height: 400px !important;
}
.Balance{
    border:0;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    display: none;
    margin-left: 10px;
}

.error_show {
    color: red;
    margin-left: 10px;
}
.card-header{
    padding: 10px!important;
}
card .card-block, .card .card-body{
    padding:10px!important;
}

textarea{
    width:100%;
}
.setMaxWidth{
    max-width:33%!important;
}
.mt-5, .my-5 {
    margin-top: 3.3rem !important;
}
.fontColor {
    color: #888;
}