﻿@page
@model Indo.Web.Pages.PaymentForm.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Payment Request"];
}
@section styles{
    <abp-style src="/Pages/PaymentForm/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/PaymentForm/Index.js" />
}
<form id="form" asp-page="/PaymentForm/Index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="row">
                        <div class="col-md-6">
                            <abp-container>
                                <abp-row>
                                    <abp-column>
                                        <abp-select asp-for="ViewModel.PayType" asp-items="@Model.PayTypeList.OrderBy(x => x.Value)" id="PayType"></abp-select>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <abp-container>
                                <abp-row>
                                    <abp-column>
                                        <abp-select asp-for="ViewModel.Portfolio" asp-items="@Model.PortfolioList.OrderBy(x => x.Value)" id="Portfolio"></abp-select>
                                    </abp-column>
                                </abp-row>

                                <abp-row>
                                    <abp-column></abp-column>
                                    <abp-column size-md="_4">
                                        <abp-input type="number" min="0" value="0" asp-for="ViewModel.Amt" asp-format="" id="amtChange"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_2">
                                        <abp-select asp-for="ViewModel.CCY" asp-items="@Model.CCYList.OrderBy(x => x.Value)" id="CCY"></abp-select>
                                    </abp-column>
                                </abp-row>

                                <abp-row>
                                    <abp-column>
                                        <abp-select asp-for="ViewModel.StdFree" asp-items="@Model.StdFreeList.OrderBy(x => x.Value)"></abp-select>
                                    </abp-column>
                                    <abp-column>
                                    </abp-column>
                                    <abp-column size-md="_3">
                                        <abp-input type="number" min="0" value="0" asp-for="ViewModel.Fee" id="feeChange"></abp-input>
                                    </abp-column>
                                    <abp-column size-md="_2">
                                        <abp-select asp-for="ViewModel.CCY2" asp-items="@Model.CCYList.OrderBy(x => x.Value)" id="feeCCY"></abp-select>
                                    </abp-column>
                                </abp-row>

                                <abp-row id="benPortfolio">
                                    <abp-column>
                                        <abp-select asp-for="ViewModel.BenPortfolio" asp-items="@Model.BenPortfolioList.OrderBy(x => x.Value)"></abp-select>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                        <div class="col-md-4">
                            <abp-container>
                                <abp-row>
                                    <abp-column class="col-md-5">Open Balance:</abp-column>
                                    <abp-column class="col-md-4 text-right setMaxWidth">
                                        <input type="number" id="openBalance" class="Balance" value="1757.05" onkeydown="return false" />
                                    </abp-column>
                                    <abp-column class="text-center col-md-3 ">
                                        <p id="openBalanceCCY">GBP</p>
                                    </abp-column>
                                </abp-row>

                                <abp-row class="mt-5">
                                    <abp-column class="col-md-5">Post Balance:</abp-column>
                                    <abp-column class="text-right col-md-4 setMaxWidth">
                                        <input type="number" id="postBalance" class="Balance" onkeydown="return false" value="0" />
                                    </abp-column>
                                    <abp-column class="text-center col-md-3 ">
                                        <p id="postBalanceCCY">GBP</p>
                                    </abp-column>
                                </abp-row>

                                <abp-row class="mt-5 ">
                                    <abp-column class="col-md-5">Free CCY Balance:</abp-column>
                                    <abp-column class="text-right col-md-4 setMaxWidth">
                                        <input type="number" id="freeCCYBalance" class="Balance" onkeydown="return false" value="0" />
                                    </abp-column>
                                    <abp-column class="text-center col-md-3 " id="freeCCYBalanceCCY">GBP</abp-column>
                                </abp-row>

                                <abp-row class="mt-5">
                                    <abp-column class="col-md-5">New Balance:</abp-column>
                                    <abp-column class="text-right col-md-4 setMaxWidth">
                                        <input type="number" id="newBalance" class="Balance" onkeydown="return false" value="0" />
                                    </abp-column>
                                    <abp-column class="text-center col-md-3 " id="newBalanceCCY">GBP</abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <abp-row>
                            <abp-column>
                                <abp-input asp-for="ViewModel.SwiftRef"></abp-input>
                            </abp-column>
                        </abp-row>
                    </div>

                    <div class="col-md-12">
                        <div class="tabbable" id="tabs-167221">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tab4" data-toggle="tab">Beneficiary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link show" href="#tab5" data-toggle="tab">Bank Lookup</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link show" href="#tab6" data-toggle="tab">KYC</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <abp-row>
                                                <abp-column>
                                                    <abp-select asp-for="ViewModel.TemplateName" asp-items="@Model.TemplateNameList.OrderBy(x => x.Value)" id="TemplateName"></abp-select>
                                                </abp-column>
                                            </abp-row>
                                        </div>
                                        <div class="tabbable" id="tabs-167222">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#tab7" data-toggle="tab">Main</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link show" href="#tab8" data-toggle="tab">Bank Details</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab7">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.BenType" asp-items="@Model.BenTypeList.OrderBy(x => x.Value)" id="benType"></abp-select>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.Relationship" asp-items="@Model.RelationshipList.OrderBy(x => x.Value)"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column id="businessName">
                                                                        <abp-input asp-for="ViewModel.BusinessName" asp-format="" id="businessNameVal"></abp-input>
                                                                        <span class="error" id="error">Business Name is required </span>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column class="hideOnBusinessSelection">
                                                                        <abp-input asp-for="ViewModel.FirstName" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column class="hideOnBusinessSelection">
                                                                        <abp-input asp-for="ViewModel.MiddleName" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column class="hideOnBusinessSelection">
                                                                        <abp-input asp-for="ViewModel.Surname" asp-format="" id="surName"></abp-input>
                                                                        <span class="error" id="surNameError">Surname Name is required </span>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.Address" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.City" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.County" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.PostCode" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.Country" asp-items="@Model.CountryList.OrderBy(x => x.Value)"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane" id="tab8">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.SubBankName" asp-items="@Model.SubBankNameList"></abp-select>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.BankName" asp-items="@Model.BankNameList.OrderBy(x => x.Value)"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.SubBankSwift" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.BankSwift" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.SubBankIBAN" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.BankIBAN" asp-format=""></abp-input>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.SubBankCtry" asp-items="@Model.BankCtryLookupList"></abp-select>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.BankCtry" asp-items="@Model.BankCtryLookupList"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <abp-row>
                                                <abp-column>
                                                    <abp-select asp-for="ViewModel.SwiftCode" asp-items="@Model.SwiftCodeList.OrderBy(x => x.Value)" id="SwiftCode"></abp-select>
                                                </abp-column><h3 class="mt-3 fontColor">OR</h3>
                                                <abp-column class="px-4">
                                                    <abp-input asp-for="ViewModel.UKShortCode" asp-format="" id="UKShortCode" maxlength="8" minlength="8"></abp-input>
                                                </abp-column>
                                                <abp-column>
                                                    <abp-input asp-for="ViewModel.UKAccountNumber" asp-format="" id="UKAccountNumber" maxlength="8" minlength="8"></abp-input>
                                                </abp-column>
                                                <abp-column class="mt-4 text-center">
                                                    <abp-button button-type="Primary" id="ValidateBank">Validate Bank</abp-button>
                                                </abp-column>
                                            </abp-row>
                                            <label for="SwiftCode">Please confirm and tick the following to countinue payment request</label>

                                            <abp-row>
                                                <abp-column>
                                                    <abp-input asp-for="ViewModel.BankNameLookup" asp-format=""></abp-input>
                                                </abp-column>
                                            </abp-row>

                                            <abp-row>
                                                <abp-column>
                                                    <abp-select asp-for="ViewModel.BankCtryLookup" asp-items="@Model.BankCtryLookupList.OrderBy(x => x.Value)"></abp-select>
                                                </abp-column>
                                            </abp-row>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="SwiftCode">Please confirm and tick the following to countinue payment request</label>
                                            <abp-row>
                                                <abp-column>
                                                    <abp-input asp-for="ViewModel.Checkbox1" />
                                                    <abp-input asp-for="ViewModel.Checkbox2" />
                                                    <abp-input asp-for="ViewModel.Checkbox3" />
                                                </abp-column>
                                            </abp-row>
                                            <label for="SwiftCode">Issues Disclosed/payment Retionale:  </label>
                                            <abp-row>
                                                <abp-column>
                                                    <textarea asp-for="ViewModel.TextArea" rows="4" cols="180"></textarea>
                                                </abp-column>
                                            </abp-row>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 mt-2">
                        <label for="SwiftCode">Email Request:  </label>
                        <abp-row>
                            <abp-column>
                                <textarea asp-for="ViewModel.EmailTextArea" rows="4"></textarea>
                            </abp-column>
                        </abp-row>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <abp-container>
                                <label for="SwiftCode">Payment SSI File Attachments  </label>
                                <abp-card>
                                    <abp-card-header>
                                        <abp-card-title>
                                            File Manager
                                        </abp-card-title>
                                    </abp-card-header>
                                    <abp-card-body>
                                        <input type="hidden" asp-for="ViewModel.PaymentFilePath" />
                                        <div id="filemanager"></div>
                                    </abp-card-body>
                                </abp-card>
                            </abp-container>
                        </div>
                    </div>
                    <abp-row>
                        <abp-column class="text-right">
                            <button class="btn-primary btn" id="btnSendPayment" data-busy-text="Saving..." type="submit"> <span>@l["Send Payment Request"]</span></button>
                        </abp-column>
                    </abp-row>
                </div>
            </div>
        </div>
    </div>
</form>

