﻿@page
@model Indo.Web.Pages.Fee.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Indo.Localization
@inject IHtmlLocalizer<IndoResource> l
@{
    ViewBag.Title = l["Menu:Fee"];
}
@section styles{
    <abp-style src="/Pages/Fee/Index.css" />
}
@section scripts{
    <abp-script src="/Pages/Fee/Index.js" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <h5 class="card-header">
                            Selection Criteria
                        </h5>
                        <div class="card-body">
                            <abp-container>
                                <abp-row>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.Portfolio"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.CCY"></abp-input>
                                    </abp-column>
                                </abp-row>
                                <abp-row>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.IsEditTemplateName"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.TemplateName"></abp-input>
                                    </abp-column>

                                    <abp-column>
                                        <abp-input asp-for="ViewModel.IsEditRedirectFee"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.RedirectFee"></abp-input>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="card-header">
                            Portfolio Information
                        </h5>
                        <div class="card-body">
                            <div class="form-group">

                                <label for="exampleInputEmail1">
                                    Client Name:
                                </label>
                                <span class="text-black"> Client 1</span>
                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">
                                    Portfolio Code:
                                </label>
                                <span class="text-black"></span>
                            </div>
                            <div class="form-group">

                                <label for="exampleInputEmail1">
                                    Relationship Mgr 1:
                                </label>
                                <span class="text-black"> </span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Relationship Mgr 2:
                                </label>
                                <span class="text-black"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h5 class="card-header">
                            Fees Details
                        </h5>
                        <div class="card-body">
                            <abp-container>
                                <abp-row>
                                    <abp-column>
                                        <abp-input type="date" asp-for="ViewModel.FeeScheduleStartDate"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input type="date" asp-for="ViewModel.FeeScheduleEndDate"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.FeeScheduleDestination"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.FeeSchedulePayFrequency"></abp-input>
                                    </abp-column>
                                    <abp-column>
                                        <abp-input asp-for="ViewModel.FeeScheduleIsEAM"></abp-input>
                                    </abp-column>
                                </abp-row>
                            </abp-container>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-12">
                                <div class="tabbable" id="tabs-167221">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#tabMgtFees" data-toggle="tab">Mgt Fees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link show" href="#tabTransactionFees" data-toggle="tab">Transaction Fees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link show" href="#tabDocumentation" id="file-tab" data-toggle="tab">Documentation</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabMgtFees">
                                            <div class="form-group">
                                                <input type="checkbox" name="@Model.ViewModel.IsManagementFees" />
                                                <label for="exampleInputEmail1">
                                                    Management Fees?
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <h6>
                                                    Management Fees Details
                                                </h6>
                                            </div>
                                            <div class="row">
                                                <abp-container>
                                                    <abp-row>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.MgtFeesChargableCCY"></abp-input>
                                                        </abp-column>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.MgtFeesType"></abp-input>
                                                        </abp-column>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.MgtFeesMinCharge"></abp-input>
                                                        </abp-column>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.MgtFeesMaxCharge"></abp-input>
                                                        </abp-column>
                                                        <abp-column>
                                                            <abp-input asp-for="ViewModel.MgtFeesMinMaintCharge"></abp-input>
                                                        </abp-column>
                                                    </abp-row>
                                                </abp-container>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5>
                                                                Enter Ranges
                                                            </h5>
                                                        </div>
                                                        <div class="card-block">
                                                            <div class="col-4 float-right">
                                                                <abp-column>
                                                                    <abp-input asp-for="ViewModel.MgtFeesRangeCCYEquivalent"></abp-input>
                                                                </abp-column>
                                                            </div>
                                                            <div class="col-12">
                                                                <table class="table table-bordered table-responsive-sm">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th class="col-4">From Amount</th>
                                                                            <th class="col-4">To Amount</th>
                                                                            <th class="col-4">Commission %</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tblBodyDynamicTableRowsForFees">
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="tabbable">
                                                        <ul class="nav nav-tabs">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" href="#tabInstrumentGroup" data-toggle="tab">Instrument Group (Exceptions)</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link show" href="#tabInstrument" data-toggle="tab">Instrument (Exceptions)</a>
                                                            </li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="tabInstrumentGroup">
                                                                <p>
                                                                    Instrument Group(Exceptions)
                                                                </p>
                                                            </div>
                                                            <div class="tab-pane" id="tabInstrument">
                                                                <p>
                                                                    Instrument (Exceptions)
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabTransactionFees">
                                            <div class="form-group">
                                                <input type="checkbox" name="@Model.ViewModel.IsTransactionFees" />
                                                <label for="exampleInputEmail1">
                                                    Transaction Fees?
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <h6>
                                                    Transaction Fees Details
                                                </h6>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <abp-input asp-for="ViewModel.TransactionFeesType"></abp-input>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="col-12 row">
                                                        <div class="tabbable col-8" id="TransactionFeeTabs">
                                                            <ul class="nav nav-tabs">
                                                                <li class="nav-item">
                                                                    <a class="nav-link active" href="#tabFeeRanges" data-toggle="tab">Fee Ranges</a>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content">
                                                                <div class="tab-pane active" id="tabFeeRanges">
                                                                    <div class="row">
                                                                        <div class="col-12">

                                                                            <div class="col-6 float-right">
                                                                                <abp-column>
                                                                                    <abp-input asp-for="ViewModel.TransactionFeesRangeCCYEquivalent"></abp-input>
                                                                                </abp-column>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <table class="table table-bordered table-responsive-sm">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th></th>
                                                                                            <th class="col-4">Asset Type</th>
                                                                                            <th class="col-3">From Amount</th>
                                                                                            <th class="col-4">To Amount</th>
                                                                                            <th class="col-4">Commission %</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tblBodyDynamicTableRowsForTransactionFees">
                                                                                        <tr>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <div class="form-group">
                                                                <h6>
                                                                    Default Ticket Fees & Charges
                                                                </h6>
                                                            </div>
                                                            <abp-container>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.TransactionFeesMinCharge"></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.TransactionFeesMaxCharge"></abp-input>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.TransactionFeesTicketFee"></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.TransactionFeesTicketFeeCCY"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.TransactionFeesFixedTicketFee"></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.TransactionFeesFixedFeeCCY"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.TransactionFeesFOPFee"></abp-input>
                                                                    </abp-column>
                                                                    <abp-column>
                                                                        <abp-select asp-for="ViewModel.TransactionFeesFOPFeeCCY"></abp-select>
                                                                    </abp-column>
                                                                </abp-row>
                                                                <abp-row>
                                                                    <abp-column>
                                                                        <abp-input asp-for="ViewModel.IsCoverBrokerageFees"></abp-input>
                                                                    </abp-column>
                                                                </abp-row>

                                                            </abp-container>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tabDocumentation">
                                            <abp-card>
                                                <abp-card-header>
                                                    <abp-card-title>
                                                        File Manager
                                                    </abp-card-title>
                                                </abp-card-header>
                                                <abp-card-body>
                                                    <div id="filemanager"></div>
                                                </abp-card-body>
                                            </abp-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>